<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">

    <title>List of Product Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="com.oskarro.doortodoor.model.Owner"*/-->
<h2 th:text="'List of Owners'">Owners List</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 20px">Id</th>
        <th style="width: 100px">First Name</th>
        <th style="width: 100px">Last Name</th>
        <th style="width: 200px">Address</th>
        <th style="width: 120px">City</th>
        <th style="width: 100px">Telephone</th>
    </tr>
    </thead>
    <tbody>
    <!-- Setting up an iterator -->
    <tr th:each="owner : ${owners}">
        <!--/*@thymesVar id="id" type=""*/-->
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">Joe</td>
        <td th:text="${owner.lastName}">Buck</td>
        <td th:text="${owner.address}">St. Etienne Street, 290/15</td>
        <td th:text="${owner.city}">New York</td>
        <td th:text="${owner.telephone}">700-482-011</td>
    </tr>
    </tbody>
</table>

</body>
</html>