<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'couriers')}">>

<head>
    <meta charset="UTF-8">
    <title>List of Couriers</title>
</head>
<body>
    <!--/*@thymesVar id="courier" type="com.oskarro.doortodoor.model.Courier"*/-->
    <h1>Couriers</h1>

    <table id="couriers" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 100px">Name</th>
            <!--<th style="width: 20px">Id</th>-->
            <!--<th style="width: 100px">First Name</th>-->
            <!--<th style="width: 100px">Last Name</th>-->
            <!--<th style="width: 80px">Equipment</th>-->
            <!--<th style="width: 80px">Company</th>-->
            <th style="width: 80px">Speciality</th>
        </tr>
        </thead>
        <tbody>
        <!-- Setting up an iterator -->
        <tr th:each="courier : ${couriers}">
            <td th:text="${courier.firstName + ' ' + courier.lastName}">Courier John</td>
            <!--<td th:text="${courier.firstName}">Joe</td>-->
            <!--<td th:text="${courier.lastName}">Buck</td>-->
            <!--<td th:text="${courier.equipment}">Maluch GTX</td>-->
            <!--<td th:text="${courier.company}">Uber Eats</td>-->
            <td><span th:each="speciality : ${courier.specialities}"
                      th:text="${speciality.description + ' '}" /> <span
                    th:if="${courier?.specialities?.size() == 0}">none</span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>